{{!-- 
Це код container файлу для index сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
 --}}
 


<h2 class="mt-5">Список сторінок</h2>
<p>Інформація про проект</p>

<div class="btn-group-vertical">
  <button type="button" class="btn btn-dark mb-2" ><a href="/skills" style="color:white;" >Skills</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/summary" style="color:white;"  >Summary</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/education" style="color:white;"  >Education</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/work" style="color:white;"  >Work</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/person" style="color:white;"  >Person</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/bio" style="color:white;"  >Bio</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/program" style="color:white;">Program</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/web" style="color:white;">Web</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/js" style="color:white;">Js</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/car" style="color:white;">Car</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/mac" style="color:white;">Mac</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/facebook" style="color:white;">Facebook</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/task21" style="color:white;">Task21</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/task22" style="color:white;">Task22</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/task31" style="color:white;">Task31</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shopcart" style="color:white;">Shopcart</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shophome" style="color:white;">Shophome</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shoporder" style="color:white;">Shoporder</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shopreview" style="color:white;">Shopreview</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shopcatalog" style="color:white;">Shopcatalog</a></button>
  <button type="button" class="btn btn-dark mb-2"><a href="/shopprofile" style="color:white;">Shopprofile</a></button>


</div>
{{!-- 
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
--}}